<% if @song.errors.any? %>
  <% @song.errors.full_messages.each do |msg| %>
    <span class="help-block"><%= msg %></span>
  <% end %>
<% end %>

<% if @artist != nil %>
  <% @artist.errors.full_messages.each do |msg| %>
    <p class="alert alert-danger"><%= msg %></p>
  <% end %>
<% end %>
